.my-flix {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.thumbnails {
    margin: 5px;
    max-width: 150px;
    max-height: 300px;

    &:hover {
        cursor: pointer;
    }
}
