$primary: #d9d9d9;

@import '~bootstrap/scss/bootstrap.scss';

#myFlix-box {
    padding-top: 10px;
}

.formButton {
    margin: 15px;
}

.movieCard-buttons {
    display: flex;
    justify-content: space-between;
}
