.my-flix {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.thumbnails {
    margin: 5px;
    max-width: 150px;
    max-height: 300px;
    border: 1px solid black;

    &:hover {
        cursor: pointer;
    }
}

.movieView-card {
    // border: 1px solid red;
    // display: flex;
    flex-direction: column;
}

.movieView-image {
    width: 250px;
    height: 400px;
}
